<% layout('layout/boilerplateAdmin') %>
    <link rel="stylesheet" href="styles/admin/dashboard.css">

    <body>
        <!-- Create new products -->
        <div class="insertItem_card">
            <h3>Create new product</h3>
            <form id="batata" method="POST" action="admin/products">
                <div class="formItem">
                    <label for="productName">Product name</label>
                    <input id="productName" name="name" type="text">
                </div>
                <div class="formItem">
                    <label for="productDescription">Product description</label>
                    <textarea id="productDescription" name="description" type="text"></textarea>
                </div>
                <div class="formItem">
                    <label for="productSku">Sku</label>
                    <input id="productSku" name="skus[sku]" type="text">
                    <p>Example: sku: BJ(Bomber jacket) + size + any feature
                        BJLZ
                    </p>
                </div>
                <div class="formItem">
                    <label for="productPrice">Product price</label>
                    <input id="productPrice" name="skus[price]" type="number">
                </div>
                <div class="formItem">
                    <label for="productSize">Size</label>
                    <input class="sizeRadioButtons" type="radio" name="skus[size]" id="productSize" value="S">
                    <input class="sizeRadioButtons" type="radio" name="skus[size]" id="productSize" value="M">
                    <input class="sizeRadioButtons" type="radio" name="skus[size]" id="productSize" value="L">
                </div>
                <div class="formItem">
                    <label for="productQty">Quantity in stock</label>
                    <input name="skus[quantity]" id="productQty" type="number">
                </div>
                <div class="formItem">
                    <label for="image">Product image</label>
                    <input type="url" name="imgSrc" id="Image">
                </div>
                <button>Submit</button>
            </form>
            <!-- ### -->
        </div>

        <!-- All products -->
        <div class="allProducts">
            <% for (let product of products) { %>
                <a href="/admin/products/<%= product._id %>">
                    <div class="productsCard">
                        <img class="dashboardProductsImg" src="<%= product.imgSrc %>" alt="">
                        <%= product.name %>
                    </div>
                    <% } %>
                </a>
        </div>

        <!-- Requests -->

    </body>