<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>admin</h1>
    <form method="POST" action="/admin">
        <input type="text" name="username" id="username">
        <input type="password" name="password" id="password">
        <button>Submit</button>
    </form>
</body>
</html>