<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/styles/slice/details.css">

    <div class="container">
        <div class="productImgDiv"><img src="<%= product.imgSrc %>" class="productImg" alt=""></div>

        <div class="rightBar">
            <h2 id="productName">
                <%= product.name %>
            </h2>
            <div>
                <h3 id="productDescription">
                    <%= product.description %>
                </h3>
            </div>
            <form method="POST" action="/products">
                <div>
                    <h3>Color options</h3>
                    <input class="colorRadioButtons" type="radio" name="color" id="productColor" value="red">
                    <input class="colorRadioButtons" type="radio" name="color" id="productColor" value="blue">
                    <input class="colorRadioButtons" type="radio" name="color" id="productColor" value="green">
                    <input value="<%= product._id %>" type="checkbox" checked name="id" id="invisible">
                </div>
                <div>
                    <h3>Size options</h3>
                    <input class="sizeRadioButtons" type="radio" name="size" id="productSize" value="S">
                    <input class="sizeRadioButtons" type="radio" name="size" id="productSize" value="M">
                    <input class="sizeRadioButtons" type="radio" name="size" id="productSize" value="L">
                </div>
                <div>
                    <input name="qty" id="productQty" type="number">
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>