<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="styles/slice/index.css">

    <div class="salesContainer">
        <div class="saleImgContainer">
            <img class="saleImg" src="/imgs/saleVerticalImg.jpg" alt="">
        </div>
        <div class="imgsGrid">
            <% for (let i=0; i < products.length; i++) { %>
                <div class="gridItem">
                    <a class="gridImgATAG" href="/products/<%= products[i]._id %>"><img class="gridImg"
                            src="<%= products[i].imgSrc %>" alt=""></a>
                    <span>
                        <%= products[i].name %>
                    </span>
                    <span>
                        <%= products[i].skus[0].price %>
                    </span>
                </div>
                <% } %>
        </div>
    </div>