<link rel="stylesheet" href="/styles/navbar.css">

<div class="backgroundImg">
    <section class="overlay">
        <div class="navContainer">
            <div id="name">
                Slice
            <span id="name_2">Streetwear</span>
            </div>
            <div>
                <img class="rightIcons" src="/imgs/lupinha.png" alt="">
                <img class="rightIcons" src="/imgs/cartIcon.png" alt="">
            </div>
        </div>
    </section>
</div>
