<link rel="stylesheet" href="styles/navbar.css">
<div class="navContainer">
    <img id="logo" src="/imgs/Slice.png" alt="" type="image/png">
    <img id="cart" src="/imgs/cartIcon.png" alt="">
</div>
<h1>aa</h1>