/* Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.formItem {
    margin-bottom: 10px;
}

.insertItem_card {
    margin-left: 50px;
    width: 700px;
    height: 500px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: beige;
}

.insertItem_card h3 {
    text-align: center;
}

.colorRadioButtons {
    border: 1px solid red;
    width: 30px; 
    height: 30px; 
    appearance: none  
}

.colorRadioButtons:nth-of-type(1):checked {
    background-color: red;
}
.colorRadioButtons:nth-of-type(2):checked {
    background-color: blue;
}
.colorRadioButtons:nth-of-type(3):checked {
    background-color: green;
}

.sizeRadioButtons {
    border: 1px solid black;
    width: 30px; 
    height: 30px;
    appearance: none  
}

.sizeRadioButtons:checked {
    background-color: black;
}

.allProducts {
    border: 2px solid blue;
    width: 700px;
    margin-top: 20px;
}

.productsCard {
    display: flex;
    align-items: center;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.dashboardProductsImg {
    width: 150px;
    height: 150px;
}