#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#productImg {
    width: 500px;
    height: 600px;
}

.formItem {
    margin-bottom: 10px;
}

.skus {
    border: 1px solid black;
    margin-bottom: 10px;
}


